@import "scss/variables.scss";

body {
  background: $primary-color;

  a {
    text-decoration: inherit;
    color: inherit;
  }
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: $secondary-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.8em;
}


ul.topnav li a:hover {
  background-color: #2a2a2a;
  color: $primary-color;
}

ul.topnav li.icon {display: none;}

.logo {
  display: inline-block;
  float: left;
  padding: 10px;

  img {
    width: 6em;
  }
}

.banner {
  height: 30em;
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }

  .carousel-text {
    color: $primary-color;
    position: absolute;
    top: 30%;
  }

  #read-more {
    padding: 0.3em 0;
    margin: 1.7em 21em;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.about {
  margin: 6em 0;
  padding: 0em 22em;
  text-align: center;
}

.services {
  background-color: #F6F6F6;

  text-align: center;

  padding: 3em 0;

  .card {
    background-color: #F6F6F6;
    border: 0;
    display: inline-block;
    width: 30%;
    padding: 2em;
  }

  h3, h4 {
    color: $third-color;
  }

  img {
    width: 3em;
  }

  button {
    display: block;
    border: 1px solid $third-color;
    background-color: #F6F6F6;
    margin: 0 auto;
    padding: 0.3em 2em;
  }
}


/************ Media Queries **************/

@media screen and (max-width:680px) {
  ul.topnav li {
    display: none;
    // float: left;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  .banner {
    height: 10em;

    .carousel-text {
      position: absolute;
      top: 50%;
    }
  }

  .about {
    padding: 0em 3em;
  }


}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

}
